{% extends "base.html" %}
{% load static %}
{% block title_head %}
Eliminar Frazadas
{% endblock title_head %}

{% block h1_header %}
Eliminar Frazada {{frazada.tamanio}} {{frazada.color}}
{% endblock h1_header %}

{% block main %}
<form action={% url "habitacion:eliminar_frazada" frazada.id%} method="POST">
    {% csrf_token %}

<p>Está seguro de eliminar esta frazada {{frazada}}?</p>
    <input type="submit" value="Confirmar">

</form>

<table>
    <a href={% url "habitacion:listado_frazadas" %}>Volver al listado</a>
</table>

{% endblock main %}
