{% extends "base.html" %}
{% load static %}

{% block title_head %}
Acerca de mí
{% endblock title_head %}

{% block h1_header %} Acerca de mí{% endblock h1_header %}

{% block main %}

<ul>
    <li>Soy Lourdes!</li>
    <li>Tengo 26 años</li>
    <li>Vivo en Argentina</li>
    <li>Soy Contadora Pública, recibida en la Facultad de Ciencias Económicas de la Universidad de Buenos Aires</li>
    <li>Actualmente trabajo en un estudio contable</li>
    <li>Tengo dos mascotas, una perrita y una gatita</li>
    <li>Soy una persona curiosa, con muchas ganas de aprender cosas nuevas</li>
</ul>
{% endblock main %}